# Ignore node_modules
node_modules/

# Ignore other common folders that shouldn't be formatted
dist/
build/
coverage/
*.min.js
*.min.css

# Generated test artifacts
electron-app/test-report.junit.xml
electron-app/logs/

# Ignore Change Logs
**/CHANGELOG.md

# Ignore package in electron-app
electron-app/package-lock.json
html/
.github/PROMPTS/
types/
**/*.d.ts
