name: Spell Check (typos)

on:
    push:
    pull_request:
    workflow_dispatch:

permissions:
    contents: read

concurrency:
    group: typos-${{ github.ref }}
    cancel-in-progress: false

jobs:
    typos:
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
              with:
                  egress-policy: audit

            - name: Checkout code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - name: Run typos (spell checker)
              uses: crate-ci/typos@631208b7aac2daa8b707f55e7331f9112b0e062d # v1.44.0
              with:
                  files: |
                      electron-app
                      tests
                      utils
                      .
              continue-on-error: true
